/* General styling for the main container */

.main {
  max-width: 600px;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #f69077, #f3b585);
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Styling for the main header */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Styling for the input container */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-text {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.copy-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff745c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #ff6b4a;
}

/* Styling for the controls */
.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.control {
  width: 100%;
}

.input-range {
  width: 100%;
  margin: 10px 0;
}

.checkbox {
  margin-right: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .main {
    width: 90%;
    padding: 10px;
  }

  .input-container {
    flex-direction: column;
  }

  .input-text {
    width: 100%;
    margin-bottom: 10px;
    
  }

  .copy-button {
    width: 100%;
    padding: 10px;
  }

  .controls {
    align-items: center;
  }

  .input-range {
    width: 100%;
  }
}

@media (max-width: 320px) {
 .main{
  padding: 10px;
 } 

 
}
